:root {
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --blue: hsl(248, 32%, 49%);
    --dark-blue: hsl(249, 10%, 26%);
    --grayigh-blur: hsl(246, 25%, 77%);
    --shadow: 0px 5px 0 rgba(0, 0, 0, 0.2);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", "sans-serif";
}

body {
    padding-bottom: 1rem;
    font-size: 16px;
    background-color: var(--red);
    background-image: url("./images/bg-intro-desktop.png");
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right";
    margin-bottom: 2rem;
}

.left {
    display: flex;
    grid-area: left;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}

.left h1 {
    font-size: 2.8rem;
    color: #fff;
}

.left p {
    font-size: 0.85rem;
    color: #fff;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.right {
    grid-area: right;
    padding: 0 1rem;
}

.right > div:nth-child(2) {
    background-color: #fff;
    padding: 2.5rem;
    border-radius: 10px;
    box-shadow: var(--shadow);
}

.message {
    background-color: var(--blue);
    border-radius: 8px;
    padding: 0.8rem;
    text-align: center;
    color: var(--grayigh-blur);
    font-size: 0.8rem;
    box-shadow: var(--shadow);
}

.message span {
    color: #fff;
    font-weight: 700;
}

.form {
    box-shadow: var(--shadow);
}

.form-control {
    display: block;
    padding: 0.8rem 2rem;
    border: 1.2px solid var(--grayigh-blur);
    margin-bottom: 1.5rem;
    border-radius: 5px;
    position: relative;
}

.form-control small,
.form-control .icon {
    display: none;
}

.form-control.danger {
    border: 2px solid var(--red);
}

.form-control.danger .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--red);
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: #fff;
}

.form-control.danger small {
    display: block;
    font-style: italic;
    position: absolute;
    right: 0;
    bottom: -20px;
    color: var(--red);
    font-size: 0.7rem;
    position: absolute;
}

.form-control input {
    display: block;
    border: none;
    background-color: transparent;
    outline: none;
    font-family: inherit;
    font-weight: 500;
}

.form-control.danger input {
    color: var(--red);
}

.form button {
    display: block;
    width: 100%;
    padding: 0.8rem;
    font-family: "Poppins", sans-serif;
    border: none;
    background-color: var(--green);
    border-radius: 5px;
    color: #fff;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0px -2px 0px rgba(0, 83, 0, 0.26) inset;
    cursor: pointer;
}

.info {
    margin-top: 1rem;
    color: var(--grayigh-blur);
    font-size: 0.6rem;
    text-align: center;
}

.info span {
    color: var(--red);
    font-weight: 700;
}

@media screen and (max-width: 920px) {
    .left h1 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 700px) {
    .container {
        grid-template-areas:
            "left left "
            "right right";
    }

    .left h1 {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 1.5rem;
    }

    .left p {
        font-size: 1rem;
        text-align: center;
    }

    .message span {
        display: block;
    }
}

@media screen and (max-width: 700px) {
    .left {
        padding: 2rem 1rem;
    }

    .left h1 {
        font-size: 2rem;
    }
    .right > div:nth-child(2) {
        background-color: #fff;
        padding: 2.5rem 1.5rem;
        border-radius: 10px;
        box-shadow: var(--shadow);
    }
}
